:root {
  --bg-color: rgb(21, 27, 75);
  --text-color: rgb(0, 0, 32);
  --body-color: rgb(21, 27, 75);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  transition: 1s;
  background-color: var(--body-color);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: hidden;
}
/* card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 500px;
  background-color: var(--bg-color);
  padding: 48px 30px;
  border-radius: 15px;
  gap: 20px;
  color: var(--text-color);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}
/* icones */
i {
  color: var(--text-color);
}
.tamanho {
  font-size: 22px;
}
/* barra de pesquisa */
input {
  background-color: transparent;
  border: none;
  padding-right: 50px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}
/* informações */
.detalhes {
  display: flex;
  gap: 50px;
  font-size: 20px;
  padding-top: 50px;
}
.temperatura {
  font-size: 50px;
}
.cidade {
  font-size-adjust: 0px;
  font-weight: 700;
}
/* imagem */
.image-clima {
  width: 100px;
}
